.navigation__checkbox {
  display: none; }

.navigation__button {
  animation-name: round;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  transition: all 7s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem; } }

@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#FFDC4A 30%, #253746 70%);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  animation-name: colorChanger;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  transition: all 7s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
  animation-name: round;
  animation-duration: 8s;
  animation-iteration-count: infinite; }

@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem; } }

@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(118deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s; }

.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block; }

.navigation__link:hover,
.navigation__link:active {
  background-position: 103%;
  color: #89165B;
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block; }

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s; }

.navigation__icon::before {
  top: -.8rem; }

.navigation__icon::after {
  top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-image: linear-gradient(#FFDC4A, #253746);
  overflow: hidden; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
  background-color: #55c57a;
  color: #fff; }

::selection {
  background-color: #55c57a;
  color: #fff; }

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; } }

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; } }

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%; } }

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0; } }

.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 40% 60%; }
  .main--img-con {
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center; }
  .main--text-box {
    padding-top: 10rem;
    padding-left: 3rem;
    color: #fff;
    font-weight: bolder;
    font-size: 3rem;
    font-family: 'Kdam Thmor Pro', sans-serif; }
    .main--text-box--heading--more {
      padding-top: -2rem; }
      .main--text-box--heading--more--btn {
        transition: all 7s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
        font-weight: bolder;
        font-size: 2rem;
        color: #253746;
        padding: 2rem;
        border-radius: 1rem;
        background-color: #FFDC4A;
        border: none;
        outline: none;
        font-family: 'Kdam Thmor Pro', sans-serif; }
        .main--text-box--heading--more--btn:hover {
          transition: all 7s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
          cursor: pointer;
          box-shadow: 6px  5px 10px #253746;
          background-color: #ffdb4a9e; }

@keyframes colorChanger {
  0% {
    background-image: radial-gradient(#FFDC4A 30%, #253746 70%); }
  50% {
    background-image: radial-gradient(#ffdc4a 10%, #253746 90%); }
  100% {
    background-image: radial-gradient(#FFDC4A 30%, #253746 70%); } }

@keyframes round {
  0% {
    transform: rotatey(180deg); }
  50% {
    transform: rotatey(360deg);
    background-color: #FFDC4A; }
  100% {
    transform: rotatey(180deg); } }
