@keyframes colorChanger {
    0%{
        background-image:  radial-gradient(#FFDC4A 30%, #253746 70%,);
    }
    50%{
        background-image:  radial-gradient(#ffdc4a 10%, #253746 90%,);
    }
    100%{
        background-image:  radial-gradient(#FFDC4A 30%, #253746 70%,);
    }
}

@keyframes round {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(359deg);
        background-color: #FFDC4A;
    }
    100%{
        transform: rotate(0deg);
    }
}